body {
    overflow: hidden;
}

.poster {
    background: url("../images/loginbg.png");
    display: block;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 20vw #000;
    -webkit-filter: sepia(0.4) brightness(0.7);
    opacity: 0.25;
    filter: alpha(opacity=25);

}

.central {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 300ms;
}

.badge {
    width: 500px;
    max-width: 100vw;
    text-align: center;
    font-family: cabin;
    color: white;
}

.badge .start {
    display: inline-block;
    width: 500px;
    height: 150px;
    background: url("../images/diamondline.png");
    background-position: top center;
    margin-bottom: -6px;
    text-align: center;
    transition: height 300ms;
}

.badge .start img {
    display: inline-block;
    margin-top: 50px;
    width: 100px;
    transition: width 300ms, margin-top 300ms;
}

.badge .start .back {
    display: none;
}

.badge .end {
    display: inline-block;
    width: 500px;
    height: 150px;
    background: url("../images/diamondline.png");
    background-position: bottom center;
    margin-top: -3px;
    text-align: center;
    transition: height 300ms;
}

.badge h1 {
    display: inine-block;
    width: 520px;
    box-sizing: border-box;
    color: white;
    height: 2em;
    line-height: 1.8em;
    padding: 0;
    margin: 0;
    border-radius: 10%;
    margin-left: -10px;
    border: 3px solid white;
    font-family: montserrat;
}

.badge h2 {
    font-weight: 500;
    font-size: 2em;
    padding: 0;
    margin: 0;
    width: 494px;
    margin-top: -2px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    max-height: 40px;
    overflow: hidden;
    transition: max-height 400ms;
}

.badge h2 input {
    font-size: 17px;
    margin: 0;
}

.badge h2 select {
    font-size: 17px;
    margin: 0;
}

.badge h2 a {
    display: inline-block;
    width: 300px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}

.badge input {
    text-align: center;
    display: inline-block;
    width: 300px;
    margin: 6px;
    color: black;
    border: none;
}

.badge select {
    text-align: center;
    display: inline-block;
    width: 300px;
    margin: 6px;
    color: black;
    border: none;
}

.badge .roundel {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 47px;
    border: 3px solid white;
    font-size: 13px;
    background: linear-gradient(white 20%, transparent 20%, transparent 80%, white 80%);
    margin: 8px 100px 0 100px;
}

.badge .ribbon {
    display: inline-block;
    font-size: 16px;
    height: 2em;
    line-height: 2em;
    width: 494px;
    margin-bottom: -6px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    overflow: hidden;
    cursor: pointer;
}

.badge:not(.signup) .roundel.register {
    display: none;
}

.signup .start {
    height: 70px;
}

.signup .start img {
    width: 50px;
    margin-top: 10px;
}

.signup .start .back {
    display: block;
    cursor: pointer;
}

.signup .ribbon {
    display: none;
}

.signup .end {
    height: 70px;
    margin-top: 0px;
}

.signup .end input {
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.signup h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    max-height: 100vh;
}

.signup .roundel.login {
    display: none;
}
  